{% extends 'appcoder/padre.html' %}
{% load static %}

{% block ContenidoqCambia %}
<body>
    <header class="masthead">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <div class="text-center text-white">
                        <!-- Page heading-->
                        <h1 class="mb-5">Pedidos</h1>


                    </div>
                </div>
            </div>
        </div>
    </header>

    <h3>"Productos"</h3> 
    {% if articulo %}
        <H1>Se agrego correctamente el pedido con el articulo {{articulo}}  </H1>
    {% endif %}
        <p>Ingrese su nuevo pedido</p>
        <form action="/AppCoder/agregapedido/" method="POST">{% csrf_token %}
            <p>Cuit <input type="text" name="cuit" placeholder="Ingrese su C.U.I.T."></p>
            <p>Articulo <input type="text" name="articulo" placeholder="Ingrese articulo"></p>
            <p>Cantidad <input type="nombre" name="cantidad" placeholder="Ingrese cantidad"> </p>
            <input type="submit" name="enviar">
        </form>


        <p></p>
        <p></p>
        <p></p>
        <p></p>


        <h3>Listado de Pedidos</h3>
   <p></p>
   <p></p>
    <table>
        <thead>
            <tr>
          
                <td>Nro Pedido</td>
                <td>Cliente</td>
                <td>Articulo</td>
                <td>Cantidad/td>
                <td>Entregado</td>
           

           </tr>
        </thead>
        <tbody>
        
            {% if pedidos %}
        
                {% for f  in pedidos  %}
                <tr>
                    <td>{{f.id}}</td>
                    <td>{{f.idcliente}}</td>
                    <td>{{f.idarticulo}}</td>
                    <td>{{f.cantidad}}</td>
                    <td>{{f.entregado}}</td>
              

                {% endfor %}
                </tr>
            
        {% else %}
            <h1>no hay registros</h1>
        {% endif %}
            
        </tbody>
        
    </table>


    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <h3>Listado de Productos</h3>
    <p></p>
    <p></p>
        <table>
            <thead>
                <tr>
            
                    <td>Codigo</td>
                    <td>Descripcion</td>
                    <td>Stock</td>
            

            </tr>
            </thead>
            <tbody>
            
                {% if productos %}
            
                    {% for f  in productos  %}
                    <tr>
                        <td>{{f.Codigo}}</td>
                        <td>{{f.descripcion}}</td>
                        <td>{{f.stock}}</td>
                

                    {% endfor %}
                    </tr>
                
            {% else %}
                <h1>no hay registros</h1>
            {% endif %}
                
        </tbody>
    </table>


</body>

{% endblock ContenidoqCambia %}
