{% extends 'appcoder/padre.html' %}
{% load static %}

{% block contenidoquecambia %}
<body>
        <p>Ingrese su nuevo pedido</p>
        <form action="/AppCoder/agregapedido/" method="POST">{% csrf_token %}
            <p>Cuit <input type="text" name="cuit" placeholder="Ingrese su C.U.I.T."></p>
            <p>Articulo <input type="text" name="articulo" placeholder="Ingrese articulo"></p>
            <p>Cantidad <input type="nombre" name="cantidad" placeholder="Ingrese cantidad"> </p>
            <input type="submit" name="enviar">
        </form>


        <p></p>
        <p></p>
        <p></p>
        <p></p>


        <h3>Listado de Pedidos</h3>
   <p></p>
   <p></p>
    <table>
        <thead>
            <tr>
          
                <td>Nro Pedido</td>
                <td>Cliente</td>
                <td>Articulo</td>
                <td>Cantidad/td>
                <td>Entregado</td>
           

           </tr>
        </thead>
        <tbody>
        
            {% if pedidos %}
        
                {% for f  in pedidos  %}
                <tr>
                    <td>{{f.id}}</td>
                    <td>{{f.idcliente}}</td>
                    <td>{{f.idarticulo}}</td>
                    <td>{{f.cantidad}}</td>
                    <td>{{f.entregado}}</td>
              

                {% endfor %}
                </tr>
            
        {% else %}
            <h1>no hay registros</h1>
        {% endif %}
            
        </tbody>
    </table>


    <p></p>
    <p></p>
    <p></p>
    <p></p>


</body>

{% endblock contenidoquecambia %}
