{% extends 'appcoder/padre.html' %}
{% load static %}

{% block ContenidoqCambia %}
<body>
    <header class="masthead">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <div class="text-center text-white">
                        <!-- Page heading-->
                        <h1 class="mb-5">PRODUCTOS</h1>


                    </div>
                </div>
            </div>
        </div>
    </header>
        <h3>Productos</h3> 
        {% if codigo %}
            <H1>Se agrego correctamente el producto {{descripcion}} con el codigo {{codigo}} </H1>
        {% endif %}


        <p>Ingrese Nuevo Producto</p>
        <form action="/AppCoder/agregaarticulos/" method="POST">{% csrf_token %}
            <p>Codigo <input type="text" name="codigo" placeholder="Ingrese codigo de producto"></p>
            <p>Descripcion <input type="text" name="descripcion" placeholder="Ingrese Descripcion"></p>
            <p>Stock <input type="text" name="stock" placeholder="Ingrese Stock"> </p>
            <!-- dropdown list con articulos-->
            <!--<select name="select">

                {% for p  in productos  %}
                    <option value="{{f.Codigo}}">{{f.descripcion}}</option>

                {% endfor %}
            </select>-->
           
            <input type="submit" name="enviar">

        
        </form>
        <p></p>
        <p></p>
        <p></p>
        <h3>Listado de Productos</h3>
        <p></p>
        <p></p>
            <table>
                <thead>
                    <tr>
                
                        <td>Codigo</td>
                        <td>Descripcion</td>
                        <td>Stock</td>
                

                </tr>
                </thead>
                <tbody>
                
                    {% if productos %}
                
                        {% for f  in productos  %}
                        <tr>
                            <td>{{f.Codigo}}</td>
                            <td>{{f.descripcion}}</td>
                            <td>{{f.stock}}</td>
                    

                        {% endfor %}
                        </tr>
                    
                {% else %}
                    <h1>no hay registros</h1>
                {% endif %}
                    
            </tbody>
        </table>

</body>
{% endblock ContenidoqCambia %}